 
  <nav class="cat-nav container">
    <ul class="nav-list row align-middle-md">
      <li class="nav-item col-md-auto"><a href="{{ '/' | relative_url }}">Home</a></li>
      <li class="nav-item col-md-auto"><a href="{{ '/about/' | relative_url }}">About</a></li>
      <li class="nav-item col-md-auto"><a href="{{ '/web/' | relative_url }}">Web</a></li>
      <li class="nav-item col-md-auto"><a href="{{ '/music/' | relative_url }}">Music</a></li>
      <li class="nav-item col-md-auto"><a href="{{ '/diary/' | relative_url }}">Diary</a></li>
    </ul>
  </nav>

