<div class="social-icons row-nocol nopad">

  <div class="social-icon-wrap">
    <a href="https://github.com/flatpaq" target="_blank" rel="noreferrer noopener">
      <div class="social-icon icon-github row  nopad just-center align-middle"></div>
    </a>
  </div>

  <div class="social-icon-wrap">
    <a href="https://twitter.com/flatpaq" target="_blank" rel="noreferrer noopener">
      <div class="social-icon icon-twitter row nopad just-center align-middle"></div>
    </a>
  </div>

  <div class="social-icon-wrap">
    <a href="{{ "/feed.xml" | relative_url }}" target="_blank" rel="noreferrer noopener">
      <div class="social-icon icon-rss row  nopad just-center align-middle"></div>
    </a>
  </div>

</div>
