
/* if javascript disabled */
#no-script.window.info {
  margin: 0px;
  font-weight: 700;
  font-size: 187.5%;
  padding: 16px 32px;
}


// barba
.mask {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 180;
  width: 100%;
  height: 100vh;
  opacity: 0;
  visibility: hidden;
  background: rgba(254, 254, 254, 0.7);
  backdrop-filter: blur(8px);
  // transform: translateY(100%);
}
.transition-mask {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 256;
  width: 100%;
  height: 100vh;
  opacity: 0;
  transform: translateY(100%);
  // background: #8bafbb;
  background: #d3e8ec;
}

/* loading */
#loading-wrapper {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0px;
  left: 0px;
  background: #fefefe;
  z-index: 808;
  // z-index: 190;
  transition: all 0.2s ease-out;
}
#loading-wrapper.loaded, #loading-wrapper.loaded > #loading-circle {
  opacity: 0;
  visibility: hidden;
}
#loading-circle {
	position: absolute;
	width: 60px;
	height: 60px;
	left: 50%;
	top: 50%;
	// margin: -30px;
  transform: translateX(-50%) translateY(-50%);
  z-index: 909;
  transition: all 0.2s ease-out;
}
#loading-circle:after {
  position: absolute;
  content: '';
	top: 0;
	left: 0;
  width: 60px;
  height: 60px;
  -webkit-animation: spin 1.0s linear;
  animation: spin 1.0s linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  border-radius: 50%;
  border-color: #404040 #ccc #ccc #ccc;
  border-style: solid;
  border-width: .2em;
  box-shadow: 0 0 0 1px transparent;
  visibility: visible;
  z-index: 909;
}
@keyframes spin {
	100% {
  	transform: rotate(360deg);
	}
}

/* header */
header {
  z-index: 303;
  position: sticky;
  // top: 0px;
  // for IntersectionObserver
  top: -1px;
}
header .header-cont {
  position: relative;
  padding: 12px 0px;
  // for IntersectionObserver
  padding-top: 13px;
  background: #fefefe;
  box-shadow: 0px 2px 1px 0px rgba(100,100,100,0.12), 0px 2px 0px 0px rgba(100,100,100,0.02);
  transition: box-shadow 0.4s, padding 0.2s;
}

header .header-cont.is-sticky {
  box-shadow: rgba(87, 100, 100, 0.08) 0px 6px 0px 0px, rgba(87, 100, 100, 0.06) 0px 7px 1px 0px;
}


header .logo-area {
  margin: 0 auto;
}
h1.logo .logo-icon {
  width: 32px;
}
h1.logo .logo-typ {
  // width: 148px;
  width: 142px;
  margin-left: 16px;
}
header nav.mobile-menu {
  position: absolute;
  top: 50%;
  // top: calc(50% - 14px);
  transform: translateY(-50%);
}

/* social icons */

.social-icon-area {
  display: none;
}
.social-icon-wrap a {
  text-decoration: none;
}
.social-icons > .social-icon-wrap:first-of-type {
  margin-left: 0px;
}
.social-icon-wrap a:hover > .social-icon {
  transform: scale(1.2);
}
.social-icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: relative;
  transition: all 0.12s ease-out;
  // box-shadow: 0px 3px 0px 0px rgba(100,100,100,0.12), 0px 4px 1px 0px rgba(100,100,100,0.06);
}
.social-icon.icon-twitter::before {
  color: #1ca1f2;
}
.social-icon.icon-rss::before {
  color: #ff9540;
}
.social-icon.icon-github::before {
  color: $primary-color;
}
.social-icon.icon-share {
  background: #999;
}
.social-icon::before {
  font-size: 18px;
  // font-size: 20px;
  // color: #fefefe;
}
/* footer social icons */
footer {

  .social-icon-wrap {
    margin-left: 16px;
  }

  .social-icon.icon-twitter, .social-icon.icon-rss, .social-icon.icon-github {
    background: #f3f0e5;
  }

  .social-icon::before {
    font-size: 18px;
    color: $primary-color;
  }

  .social-icon.icon-twitter::before {
    color: $primary-color;
  }

  .social-icon.icon-rss::before {
    color: $primary-color;
  }

}

/* header cat-nav */

// .header-cat-nav-wrapper {
//   display: none;
//   position: relative;
//   padding: 16px 0px;
//   // for Intersection Observer
//   // padding-top: 17px;
//   z-index: 200;
//   transition: all 0.4s;
//   background: linear-gradient(165deg, rgba(163, 239, 229, 0.4), rgba(131, 205, 234, 0.4)),$paper-bg,#fefefe repeat center;

//   box-shadow: inset 0px 2px 1px 0px rgba(100,100,100,0.1), inset 0px -1px 1px 0px rgba(208, 228, 232, 0.9), rgba(87, 100, 100, 0.08) 0px 6px 0px 0px, rgba(87, 100, 100, 0.06) 0px 7px 1px 0px;

//   .cat-nav .nav-item > a {
//     font-size: 112.5%;
//     color: #546777;
//     text-decoration: none;
//     font-weight: 400;
//   }
// }
.cat-nav .nav-item > a {
  font-size: 112.5%;
  color: #546777;
  color: $primary-color;
  text-decoration: none;
  font-weight: 400;
}

header .cat-nav {
  display: none;
}

@media (min-width: 768px) {

  header .cat-nav {
    display: block;
    margin-right: 24px;

     .nav-item {
      padding-right: 12px;
      padding-left: 12px;
    }

  }

}



/* sidebar */

aside.sidebar {
  // display: none;
  display: block;
}
.sidebar-cont {
  position: fixed;
  overflow-y: scroll;
  top: 0px;
  // left: 0px;
  left: -100%;
  width: 90%;
  padding: 0px 16px 0px;
  // background: #deeef9;
  background: #fefefe;
  transition: all 0.25s ease-out;
  -ms-overflow-style: none; // make scrollBar Invisible for IE, Edge
  scrollbar-width: none; // make scrollBar Invisible for Firefox
  z-index: 100;
}
.sidebar-cont::-webkit-scrollbar {
  display: none; // make scrollBar Invisible for Chrome, Safari
}
.scroll-bar {
  opacity: 0;
  display: block;
  position: absolute;
  content: "";
  height: 40px;
  width: 3px;
  top: 0px;
  left: 0px;
  background: #f7a3a3;
  border-radius: 4px;
  z-index: 110;
  transition: opacity 0.25s ease-out;
  // transition: top 0.4s ease-out;
}
.sidebar:hover .scroll-bar {
  opacity: 1;
}
/* when mobile-menu btn active */
.sidebar-cont.active {
  left: 0%;
  animation: active-sidebar 0.25s ease-in-out 0s normal;
}
// .wrapper.active:after {
//   position: fixed;
//   content: "";
//   width: 100%;
//   height: 100%;
//   background: rgba(0, 0, 0, 0.4);
//   top: 0px;
//   left: 0px;
//   z-index: 90;
// }
@keyframes active-sidebar {
  0% {
    left: -100%;
  }
  50% {
    left: -100%;
  }
  70% {
    left: -70%;
  }
  90% {
    // left: 5%;
  }
  100% {
    left: 0%;
  }
}
.scroll-bar {
  // display: none;
  display: block;
}

aside.sidebar h1.page-title {
  font-size: 125%;
  margin-bottom: 16px;
}
.toc-title a {
  cursor: pointer;
  text-decoration: none;
  color: $primary-color;
}

.toc-title a:active {
  color: #65c9e0;
}
@media (min-width: 768px) {

  .toc-title a:hover {
    color: #65c9e0;
  }
  
}
#toc {
  padding-bottom: 16px;
}
#toc ol {
  list-style: none;
  margin-bottom: 0px;
}
#toc ol {
  padding-left: 0px;
}
#toc a {
	color: $primary-color;
	text-decoration: none;
  font-weight: 400;
  font-size: 93.7%;
  display: inline-block;
  padding: 2px 16px;
  position: relative;
  display: block;
}

#toc a:active {
  color: #65c9e0;
}
@media (min-width: 768px) {

  #toc a:hover {
    color: #65c9e0;
  }
    
}
#toc ol:not(:first-child) li a {
  padding-left: 32px;
}
#toc ol:not(:first-child) li + ol li a {
  padding-left: 48px;
}
#toc ol:not(:first-child) li + ol li + ol li a {
  padding-left: 64px;
}
#toc a.active {
  font-weight: 700;
  color: #65c9e0;
  transition: all 0.25s ease-out;
}
#toc a.active:before {
  position: absolute;
  content: "";
  width: 3px;
  height: 100%;
  top: 0px;
  left: 0px;
  background: #81d3e6;
  animation: activebar 0.3s ease-in-out 0s normal;
}
@keyframes activebar {
  0% {
    top: 50%;
    height: 0%;
  }
  50% {
    top: -15%;
    height: 130%;
  }
  100% {
    top: 0px;
    height: 100%;
  }
}

/* mobile sidebar cont */
.sidebar-cat-nav-wrapper {
  display: block;
}
.sidebar .nav-list {
  margin-bottom: 16px;
}
.sidebar li.nav-item.col-md-auto {
  padding: 0px;
}
.sidebar .social-icons {
  padding: 16px;
  margin-right: -16px;
  margin-left: -16px;
  border-top: 1px dashed $primary-color;
}
.sidebar-cat-nav-wrapper nav.cat-nav.container {
  padding-right: 0px;
  padding-left: 0px;
}
.sidebar-cat-nav-wrapper .cat-nav .nav-item > a {
  display: block;
  color: $primary-color;
  text-decoration: none;
  font-weight: 400;
  line-height: 1.8;
  padding: 8px 16px;
  background: #e7f4f7;
  border-bottom: 1px dashed;
}

/* header color adjusted */

h1 a, h2 a, h3 a, h4 a, h5 a,  h6 a {
  color: $primary-color;
  text-decoration: none;
}

/* content wrapper */
main.wrapper {
  position: relative;
  background: #fefefe;
}
main.wrapper:before {
  width: 50%;
  height: 100%;
  content: none;
  position: absolute;
  top: 0;
  left: 0%;
  z-index: 0;
  // background: linear-gradient(165deg, rgba(248, 249, 249, 0.8), rgba(248, 249, 249, 0.8)),$paper-bg,#fefefe repeat center;
  background: $background-color;
}

.modal-shadow {
  position: fixed;
  content: "";
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  top: 0px;
  left: 0px;
  z-index: 90;
  display: none;
  &.active {
    display: block;
    backdrop-filter: blur(2px);
  }
}

/* front-page */
main.wrapper.front-page {
  // background: linear-gradient(165deg, rgba(243, 247, 247, 0.8), rgba(248,249,249,0.8)),$paper-bg,#fefefe repeat center;
  // background: #ecf3f3;
  // background: #f5f5f5;
  background: $background-color;
  padding-top: 48px;
  padding-bottom: 40px;
  // min-height: 100vh;
}
main.wrapper.front-page:before, main.wrapper.static-page:before {
  content: none;
}

/* if top-visual */
.top-visual {
  width: 100%;
  height: auto;
  min-height: calc(70vh - 100px);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #fefefe;
  // background-image: url(/assets/img/top-visual.jpg);
  padding-top: 32px;
  padding-bottom: 32px;
  position: relative;
}

/* card */
.card {
  border-top: 2px solid $primary-color;
  background: #fefefe;
  border-radius: 0px 0px 1px 1px;
  box-shadow: inset 0px 1px 1px -1px rgba(255, 255, 255, 0.9), 0px 6px 1px -4px rgba(100,100,100,0.12), 0px 6px 0px -4px rgba(100,100,100,0.02);
  transition: all 0.16s ease-out;
  height: 100%;
  -ms-flex-direction: column !important; flex-direction: column !important;
  transform-style: preserve-3d;
}

.card:active {
  box-shadow: inset 0px 1px 1px -1px rgba(255,255,255,0.9), 0px 20px 12px -16px rgba(87,100,100,0.06), 0px 28px 32px -16px rgba(87,100,100,0.12), 0px 8px 4px -4px rgba(87, 100, 100, 0.04);
  transform: scale(1.02);
}
@media (min-width: 768px) {
  .card:hover {
    // box-shadow: inset 0px 1px 1px -1px rgba(255, 255, 255, 0.9), 0px 6px 1px -4px rgba(100,100,100,0.12), 0px 6px 0px -4px rgba(100,100,100,0.02);
    box-shadow: inset 0px 1px 1px -1px rgba(255,255,255,0.9), 0px 20px 12px -16px rgba(87,100,100,0.06), 0px 28px 32px -16px rgba(87,100,100,0.12), 0px 8px 4px -4px rgba(87, 100, 100, 0.04);
    // transform: scale(0.99);
    transform: scale(1.02);
  }
}
.front-page .post-thumbnail {
  width: 100%;
  height: 200px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #e7f4f7;
  padding: 16px;
  position: relative;
  border-radius: 0px;
  // overflow: hidden;
}
.front-page .index-cat a {
  background: $primary-color;
  position: absolute;
  border-radius: 0px 0px 1px 0px;
  color: #fefefe;
  top: 0px;
  left: 0px;
  padding: 2px 16px;
}
.front-page .enter-arrow {
  display: none;
  background: #fefefe;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: absolute;
  bottom: -20px;
  box-shadow: 0px 3px 4px 0px rgba(100,100,100,0.12), 0px 4px 12px 0px rgba(100,100,100,0.06);
  right: 16px;
  z-index: 40;
  transform: translateZ(50px);
}
.front-page .enter-arrow:after {
  position: relative;
  content: "";
  left: -2px;
  border-style: solid;
  border-color: $primary-color;
  border-width: 0px 2px 2px 0px;
  padding: 4px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}
.front-page .index-title {
  padding: 24px 16px;
  -ms-flex: 1 1 auto !important; flex: 1 1 auto !important;
}
.front-page article.card h1 {
  font-size: 150%;
  margin: 0px;
}
.front-page .index-post {
  margin-bottom: 32px;
  transform: translate3d(0,0,0);
}
.front-page .index-post a {
  text-decoration: none;
  font-weight: 400;
}
.front-page .index-post > a.post-link {
  width: 100%;
  height: 100%;
  display: block;
}
.front-page .index-post a .index-title {
  color: $primary-color;
}
.front-page .page-date-area {
  margin: 0px 0px 24px;
}
.front-page .page-date-area>p.page-date-created {
  margin: 0px;
}
.front-page .page-date-area i {
  border-radius: 50%;
  padding: 8px;
}
.front-page .page-date-area time {
  background: none;
}
.index-sidebar ul.tags {
  margin-bottom: 4px;
  padding-left: 0px;
}

/* web cat color */
.card.web {
  border-top: 2px solid $web-color;
}
.front-page .card.web .index-cat a {
  background: $web-color;
}

/* music cat color */
.card.music {
  border-top: 2px solid $music-color;
}
.front-page .card.music .index-cat a {
  background: $music-color;
}

/* diary cat color */
.card.diary {
  border-top: 2px solid $diary-color;
}
.front-page .card.diary .index-cat a {
  background: $diary-color;
}

/* article */
.page {
  // padding: 48px 0px;
  padding: 0px 16px 24px;
  background: #fefefe;
  position: relative;
  // min-height: 100vh;
}
.post.page {
  padding: 0px 16px 24px;
  // background: linear-gradient(rgba(255, 254, 251, 0.7), rgba(255, 254, 251, 0.7)),$paper-bg,#fefefe repeat center;
}
.post.page .page-content {
  border-bottom: 1px solid $primary-color;
  padding-bottom: 16px;
  margin-bottom: 48px;

  .portfolio & {
    border-bottom: none;
    padding-bottom: 0px;
    margin-bottom: 0px;  
  }


}
.page-header {
  // background: linear-gradient(165deg, rgba(243, 247, 247, 0.8), rgba(248,249,249,0.8)),$paper-bg,#fefefe repeat center;
  padding: 32px 16px 12px;
  margin-bottom: 32px;
  margin-left: -16px;
  margin-right: -16px;
}
.page-header h1 {
  font-size: 225%;
  margin-bottom: 12px;
}

/* page datetime */
.page-date-area {
  font-size: 87.5%;
  margin-bottom: 8px;
  color: #777;
}
.page-date-area > p {
  margin-bottom: 0px;
}
.page-date-area > p.page-date-created {
  -ms-flex-align: stretch !important; align-items: stretch !important;
  margin-bottom: 8px;
  margin-right: 16px;
}
.page-date-area > p.page-date-updated {
  -ms-flex-align: stretch !important; align-items: stretch !important;
  margin-bottom: 8px;
}
.page-date-area i {
  font-size: 110%;
  border-radius: 24px 0px 0px 24px;
  // background: linear-gradient(165deg, rgba(248,248,248,0.7), rgba(243,243,243,0.7)),$paper-bg,#fefefe;
  background: $date-color;
  padding: 4px 8px 4px 16px;
}
.page-date-area time {
  border-radius: 0px 24px 24px 0px;
  margin-left: 1px;  
  // background: linear-gradient(165deg, rgba(248,248,248,0.7), rgba(243,243,243,0.7)),$paper-bg,#fefefe;
  background: $date-color;
  padding: 4px 16px 4px 8px;
}

.page .page-date-area i {
  background: transparent;
  padding: 0px 4px 0px 0px;
}
.page .page-date-area time {
  background: transparent;
  padding: 0px;
}

/* embed post */
.embed > a {
  text-decoration: none;
  color: $primary-color;
  position: relative;
  border-radius: 1px;
	background: #ffe484;
  padding: 16px;
  padding-right: 42px;
	display: block;
	text-decoration: none;
  font-weight: 700;
  box-shadow: 0px 6px 1px -4px rgba(100,100,100,0.12), 0px 6px 0px -4px rgba(100,100,100,0.02);
}
.embed > a:after {
	position: absolute;
	content: "";
	top: calc(50% - 5px);
	right: 20px;
	line-height: 16px;
	border-style: solid;
	border-color: $primary-color;
	border-width: 0px 2px 2px 0px;
	padding: 4px;
	transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
}

// embed another style
.card-embed {
  border: 1px solid #e1e6ea;
  border-radius: 7px;
  margin-bottom: 32px;
  box-shadow: inset 0px 1px 1px -1px rgba(255, 255, 255, 0.9), 0px 6px 1px -4px rgba(100,100,100,0.12), 0px 6px 0px -4px rgba(100,100,100,0.02);

  a {
    text-decoration: none;
    color: #2f495e;
  }

  .card-embed-heading-area {
    border-top: 1px solid #e1e6ea;
    border-radius: 0px 0px 7px 7px;
  }

  h1 {
    font-size: 150%;
    text-decoration: none;
    margin: 0px;
    padding: 16px;
  }

  .row {
    align-items: stretch !important;
    min-height: 200px;
  }

  .card-embed-img-area {
    min-height: 200px;
    border-radius: 7px 7px 0px 0px;
  }

  .card-embed-img {
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #e7f4f7;
    // padding: 16px;
    position: relative;
    border-radius: 7px 7px 0px 0px;
  }

  @media (min-width: 576px) {
    .card-embed-img-area, .card-embed-img {
      border-radius: 0px 7px 7px 0px;
    }
    .card-embed-heading-area {
      border-top: none;
      border-right: 1px solid #e1e6ea;
      border-radius: 7px 0px 0px 7px;
    }
  }
  

}

/* tags */
.page-header ul.tags {
  padding-left: 0px;
}
.tags {
	list-style-type : none ;
	// padding: 0 0 0 12px ;
	display: block;
}
.tags {
	margin-bottom: 20px;
}
.tags li {
  float: left;
}
.tags li > a {
  display: inline-block;
  // color: #93a4aa;
  // color: #456269;
  color: $primary-color;
  margin: 0px 12px 12px 12px;
  font-size: 87.5%;
  // background-color: #e7f4f7;
  background-color: #81d3e6;
  padding: 0px 8px 0 12px;
  height: 28px;
  line-height: 28px;
  position: relative;
  font-weight: 400;
  text-decoration: none;
  box-shadow: 0px 6px 1px -4px rgba(100,100,100,0.12), 0px 6px 0px -4px rgba(100,100,100,0.02);
}
.page-header .tags li > a {
  color: #fefefe;
}
.tags li > a::before {
  right: 100%;
  top: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: transparent;
  // border-right-color: #e7f4f7;
  border-right-color: #81d3e6;
  border-width: 14px;
  margin-top: -14px;
  -webkit-transition: 0.25s;
  transition: 0.25s;
  -moz-transition: 0.25s;
}
.tags li > a:after {
  position: absolute;
  top: 50%;
  left: 0;
  z-index: 2;
  display: block;
  content: '';
  width: 7px;
  height: 7px;
  margin-top: -3.6px;
  background-color: #fefefe;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
}
.index-sidebar .tags li > a {
  background-color: #ffe484;
}
.index-sidebar .tags li > a::before {
  border-right-color: #ffe484;
}
.index-sidebar .tags li > a::after {
  background-color: #fefefe;
}

.tags li > a:active {
  background-color:#B2C6CD ;
  color:#fefefe ;
}
.tags li > a:active:before {
  border-right-color: #B2C6CD;
}
@media (min-width: 768px) {
  .tags li > a:hover {
    // background-color: #B2C6CD;
    background-color: #ffe484;
    // color: #fefefe;
    color: $primary-color;
  }
  .tags li > a:hover:before {
    // border-right-color: #B2C6CD;
    border-right-color: #ffe484;
  }  
}

/* pager */
.pager > p {
  margin: 0px 0px 8px;
}
.pager a {
  // display: block;
  background: #ffe484;
  text-decoration: none;
  border-radius: 1px;
  color: $primary-color;
  padding: 16px;
  height: 100%;
  box-shadow: 0px 6px 1px -4px rgba(100,100,100,0.12), 0px 6px 0px -4px rgba(100,100,100,0.02);
}
.pager .next-pager .pager-article {
  text-align: left;
  -ms-flex-item-align: start !important; align-self: flex-start !important;
}
.pager .next-pager .pager-arrow {
  text-align: left;
  // &lt;
}
.pager .next-pager .pager-arrow:after {
  position: absolute;
  content: "";
  top: calc(50% - 5px);
  left: 4px;
  line-height: 16px;
  border-style: solid;
  border-color: $primary-color;
  border-width: 0px 2px 2px 0px;
  padding: 4px;
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}
.pager .prev-pager .pager-article {
  text-align: right;
  -ms-flex-item-align: start !important; align-self: flex-start !important;
}
.pager .prev-pager .pager-arrow {
  text-align: right;
  // &gt;
}
.pager .prev-pager .pager-arrow:after {
  position: absolute;
  content: "";
  top: calc(50% - 5px);
  right: 4px;
  line-height: 16px;
  border-style: solid;
  border-color: $primary-color;
  border-width: 0px 2px 2px 0px;
  padding: 4px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}
.page-url {
  margin: 0px;
}

/* pagination */
.pagination > div {
  display: inline-block;
  margin-bottom: 8px;
}
.pagination span {
  padding: 12px 20px;
  background: rgba(100,100,100,0.1);
  display: block;
}
.pagination a {
  display: block;
  padding: 12px 20px;
  text-decoration: none;
  color: $primary-color;
  font-weight: 400;
  background: #ffe484;
  box-shadow: 0px 4px 1px -2px rgba(100,100,100,0.12), 0px 4px 0px -2px rgba(100,100,100,0.02);
}
.pagination .currnet-page-number {
  background: transparent;
}

/* footer */
footer {
  background: $primary-color;
  color: #f3f0e5;
}
footer > .container {
  padding: 32px 16px 0.1px;
}
footer h1.logo {
  top: 4px;
}
.footer-cat-nav-wrapper {
  display: block;
  margin-bottom: 32px;
}
footer ul.nav-list.row.align-middle-md {
  display: block;
}
footer ul.nav-list.row.align-middle-md li {
  padding: 0px;
}
footer .cat-nav .nav-item > a {
  display: block;
  color: #f3f0e5;
  text-decoration: none;
  font-weight: 400;
  line-height: 1.8;
  padding: 0px 0px 4px;
}
/* footer tag color */
footer .footer-tags h1 {
  font-size: 150%;
}
footer .footer-tags ul.tags {
  padding-left: 0px;
}
footer .tags li > a {
  background: #f3f0e5;
}
footer .tags li > a:before {
  border-right-color: #f3f0e5;
}
footer .tags > li a:after {
  background: $primary-color;
}

/* ripple effect */
.ripple {
  position: relative;
  overflow: hidden;
}

.ripple .ripple-active {
  position: absolute;
  pointer-events: none;
  background: #fefefe;
  border-radius: 50%;
  transform: scale(0);
  animation: ripple .8s;
  opacity: 0.7;
}

@keyframes ripple {
  to {
    opacity: 0;
    transform: scale(2.0);
  }
}

/* no less than 576px */
@media (min-width: 576px) {

}

/* for desktop display size no less than 768px */
@media (min-width: 768px) {

  // header {
  //   position: relative;
  //   top: 0px;
  //   .header-cont {
  //     box-shadow: none;
  //     border: none;
  //     &.is-sticky {
  //       box-shadow: none;
  //     }
  //   }
  // }
  header .header-cont.is-sticky {
    padding: 10px 0px 9px;
  }

  header .mobile-menu {
    display: none;
  } 
  header .logo-area {
    margin: 0;
    margin-right: auto;
    transition: transform 0.2s;
  }
  .header-cont.is-sticky .logo-area {
    transform: scale(0.9);
  }
  .social-icon-area {
    display: block;
  }
  // .header-cat-nav-wrapper {
  //   display: block;
  //   position: sticky;
  //   top: 0px;
  //   // for IntersectionObserver
  //   // top: -1px;
  // }
  main.wrapper:before {
    content: "";
  }
  aside.sidebar {
    display: block;
    padding: 48px 0px 0px;
    margin-bottom: 32px;
  }
  .sidebar-cont {
    position: sticky;
    left: 0px;
    padding: 0px 16px;
    background: transparent;
    border: none;
    width: 100%;
  }
  #toc {
    padding-bottom: 0px;
  }

  .sidebar-cat-nav-wrapper {
    display: none;
  }
  .sidebar .social-icons {
    display: none;
  }

  .front-page .post-thumbnail {
    height: 150px;
  }

  .page {
    padding: 48px 16px;
  }

  .post.page {
    padding: 48px 48px 40px;
    // border-left: 1px solid #ececec;
    border-left: 1px solid #e1e6ea;
  }

  .page-header {
    margin: 0px 0px 48px;
    padding: 0px;
    background: transparent;
  }
  .page-header h1 {
    font-size: 262.5%;
    margin-bottom: 32px;
  }
  ol.breadcrumb {
    margin-bottom: 16px;
  }

  .page-date-area {
    margin-bottom: 32px;
  }

  .page .page-date-area i {
    // background: linear-gradient(165deg, rgba(248,248,248,0.7), rgba(243,243,243,0.7)),$paper-bg,#fefefe;
    background: $date-color;
    padding: 4px 8px 4px 16px;
  }
  .page .page-date-area time {
    // background: linear-gradient(165deg, rgba(248,248,248,0.7), rgba(243,243,243,0.7)),$paper-bg,#fefefe;
    background: $date-color;
    padding: 4px 16px 4px 8px;
  }
  
  .page-date-area > p.page-date-created {
    margin-bottom: 0px;
  }
  .page-date-area > p.page-date-updated {
    margin-bottom: 0px;
  }  

  .pager .next-pager .pager-article {
    text-align: right;
  }
  .pager .prev-pager .pager-article {
    text-align: left;
  }


}

/* no less than 992px */
@media (min-width: 992px) {

}

/* no less than 1200px */
@media (min-width: 1200px) {

}
