<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "ja" }}">

  {% include head.html %}

  <body id="top" data-barba="wrapper">
    <noscript>
      <!-- if javascript disabled -->
      <p id="no-script">JavaScriptをオンにしてご利用ください。</p>
      <style>
        #loading-wrapper {
          display:none;
        }
      </style>
    </noscript>

    <div id="loading-wrapper" class="row-nocol just-center align-middle">
      <div id="loading-circle">
      </div>
    </div>

    <div ontouchstart="" class="whole">

      {% include header.html %}

      <div data-barba="container">
        <div class="modal-shadow"></div>
        {{ content }}
      </div>

      {% include footer.html %}

    </div>

    <!-- for transition animation -->
    <div class="mask"></div>
    <!-- <div class="transition-mask"></div> -->

    <script src="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@10.4.1/build/highlight.min.js"></script>
    <script src="https:///cdn.jsdelivr.net/npm/highlightjs-line-numbers.js@2.8.0/dist/highlightjs-line-numbers.min.js"></script>
  
  </body>

</html>
