---
layout: default
---

<main class="wrapper static-page">
  <div class="container">

    <div class="row">

      <aside class="sidebar col-12 display-none-md">
        {% include index-sidebar.html %}
      </aside>

      <article class="page col-12">
        <div class="page-header loading">

          <ol class="breadcrumb">
            <li class="breadcrumb-home"><a href="{{ "/" | relative_url }}"></a></li>
            {% for category in page.categories %}
            <li class="page-cat">{{ category }}</li>
            {% endfor %}
          </ol>

          <h1 class="page-title">{{ page.title | escape }}</h1>

        </div>

        <div class="page-content loading">
          {{ content }}
        </div>

        <p><a class="page-url" href="{{ page.url | relative_url }}" hidden></a></p>
      </article>

    </div>
</div>
</main>
